*{margin: 0;padding: 0;box-sizing: border-box;list-style: none;text-decoration: none;font-family: sans-serif; }

body{
    background-color: rgb(241, 241, 241);
}
/* ========ESTILIZANDO O HEADER========= */
header{
    width: 100%;
    margin: 0 auto;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;  
}
header .menu{
    display: flex;
    gap: 1rem;
}
.menu > li,.menu>li>a {
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 10px;
    transition: .3s;
}
header > .logo-cell{
    display: none;
}

header > .menu > li >a:hover{
    background-color: rgb(111, 50, 255);
    border-radius: 25px;
    border: 3px solid  #383f5d;
    box-shadow: 0px 0px 3px black;
    color: white;
}
/* =========ESTILIZANDO O MAIN=========== */
main{
    height: 100%;
    margin: 40px auto;
    margin-top: 28px;
    width: 80%;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

main > img{
    width: 90%;

    padding: 10px;
    background-size: cover;
    border-radius: 30px;
}
main > h2{
    padding: 10px;

}
main > p{
    padding: 10px;
    text-align: justify;
    text-indent: 1.5rem;
}
/* ======ESTILIZANO O FOOTER========= */
footer{
    height: 100%;
    padding: 10px 0;
    background-color: #383f5d;
}
footer >p{
    font-weight: bolder;
    text-align: center;
    color: rgb(255, 255, 255);
}